@{
    ViewData["Title"] = "Procédures";
}

<h1>Procédure d'installation</h1>

<h3><a asp-controller="Procedure" asp-action="RJ45">CONNEXION VIA RJ45</a></h3>
<h3><a asp-controller="Procedure" asp-action="CPL">CONNEXION VIA CPL</a></h3>
<h3><a asp-controller="Procedure" asp-action="Wifi">CONNEXION VIA WIFI</a></h3>

<a asp-controller="Clients" asp-action="Index">Retour</a>